// TODO split up into same components as the JS files
.menu-screen-layout{
    display: grid;
    place-items: stretch;
    height: calc(100vh - 2rem);
    padding: 1rem;

    grid-gap: 1rem;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 4em 4em 1fr 4em;
    grid-template-areas: 
    "sch sch"
    "nav nav"
    "mnu rcpt"
    "pag rcpt"
}

.layout-alt-1 {
    grid-template-areas: 
    "sch sch"
    "nav rcpt"
    "mnu rcpt"
    "mnu rcpt"
}

.menu-search-container{
    grid-area: sch;
}

.menu-nav-container{
    grid-area: nav;
}

.menu-item-list-container{
    grid-area: mnu;
}

.menu-pagination-container{
    grid-area: pag;
}

.menu-receipt-container{
    grid-area: rcpt;
}

.menu-receipt-order{
    height: 6em;
}