.setup-container{
    width: 50vw;
    height: 50vh;
    margin: 20vh 20vw;
    padding: 5vh 5vw;
    border: 1px grey solid;
    background-color: bisque;

    display: grid;
    place-items: stretch;;

    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    grid-template-areas: 
    "tbll tbl"
    "bck don"
}

.table-label{
    grid-area: tbll;
    place-self: center end;
}

.tabel-input{
    grid-area: tbl;
}

.btn-back{
    grid-area: bck;
}

.btn-done{
    grid-area: don;
}