#setup-container{
    --setup-body-bg-color: #fff;
    --setup-card-bg-color: #eee;

    --setup-back-btn-text-color: #333;
    --setup-back-btn-bg-color: #ccc;
    --setup-back-btn-hover-bg-color: #ddd;
    --setup-back-btn-pressed-bg-color: #bbb;
    --setup-back-btn-border-color: #bbb; 

    --setup-done-btn-text-color: #333;
    --setup-done-btn-bg-color: #ccc;
    --setup-done-btn-hover-bg-color: #ddd;
    --setup-done-btn-pressed-bg-color: #bbb;
    --setup-done-btn-border-color: #bbb;  
}