#login-container {
    --login-body-bg-color: #fff;
    --login-card-bg-color: #eee;

    --login-btn-bg-color: #ccc;
    --login-btn-hover-bg-color: #ddd;
    --login-btn-pressed-bg-color: #bbb;
    --login-btn-border-color: #bbb;
}