.menu-selection-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--menu-selection-body-bg-color, #fff);
}

.menu-form{
    width: 50vw;
    height: 50vh;
    margin: 20vh 20vw;
    padding: 5vh 5vw;
    border: 1px #ccc solid;
    border-radius: .3rem;
    background-color: var(--menu-selection-card-bg-color, #eee);

    display: grid;
    place-items: stretch;;

    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "cus csh"
    "wtr coo"
}

.alt-1{
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "cus csh wtr coo"
}

.alt-2{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "cus" "csh" "wtr" "coo"
}

.btn-customer{
    grid-area: cus;

    @include button-variant(
        var(--customer-btn-text-color, #333),
        var(--customer-btn-bg-color, #ccc),
        var(--customer-btn-hover-bg-color, #ddd),
        var(--customer-btn-pressed-bg-color, #bbb),
        1px solid var(--customer-btn-border-color, #bbb)    
    );
}

.btn-casher{
    grid-area: csh;

    @include button-variant(
        var(--casher-btn-text-color, #333),
        var(--casher-btn-bg-color, #ccc),
        var(--casher-btn-hover-bg-color, #ddd),
        var(--casher-btn-pressed-bg-color, #bbb),
        1px solid var(--casher-btn-border-color, #bbb)      
    );
}

.btn-waiter{
    grid-area: wtr;

    @include button-variant(
        var(--waiter-btn-text-color, #333),
        var(--waiter-btn-bg-color, #ccc),
        var(--waiter-btn-hover-bg-color, #ddd),
        var(--waiter-btn-pressed-bg-color, #bbb),
        1px solid var(--waiter-btn-border-color, #bbb)    
    );
}

.btn-cook{
    grid-area: coo;

    @include button-variant(
        var(--cook-btn-text-color, #333),
        var(--cook-btn-bg-color, #ccc),
        var(--cook-btn-hover-bg-color, #ddd),
        var(--cook-btn-pressed-bg-color, #bbb),
        1px solid var(--cook-btn-border-color, #bbb)    
    );
}